name: Fintrack Build and Push Docker Images

on:
  push:
    tags:
      - 'v*'
      
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Get tag
        id: tag
        uses: devops-actions/action-get-tag@v1.0.3

      - name: DockerHub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
                  
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: | 
            keeganwright12/fintrackweb:echo ${{steps.tag.outputs.tag}}
          platforms: linux/amd64,linux/arm64

          

# Execute dockerfile in srd dir
# Make release tag configurable
#docker buildx build . --push -t keeganwright12/fintrackweb:v0.0.1 --platform linux/arm/v7,linux/arm64/v8,linux/amd64
